NEXT_PUBLIC_SUPABASE_URL=https://xvlfhrwkrbqiedlhutwk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2bGZocndrcmJxaWVkbGh1dHdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNTA2NjQsImV4cCI6MjA5MzkyNjY2NH0._-uiomEmWAAuXbF2x4NnQiB-XPIzGjLvShlqsbi5UPA
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2bGZocndrcmJxaWVkbGh1dHdrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM1MDY2NCwiZXhwIjoyMDkzOTI2NjY0fQ.zJv5sG2yHGL6MTlMitLrd4YnqlBbW0LAWcUewg4G8iI
COMMAND_SIGNING_SECRET=test
ADMIN_SESSION_SECRET=test
ADMIN_PASSWORD_HASH=$2b$10$RonWMWqfKfF6gpBbPq9rf.r2e9bQ5joe6qrUgRMqhpBIVpolKBB6e
